<div *ngIf="getRole() == '1'">
  <table mat-table  [dataSource]="calendarData" >
    <ng-container matColumnDef="TeamLeader">
      <th mat-header-cell *matHeaderCellDef>TeamLead</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}}</td>
    </ng-container>
    <ng-container matColumnDef="Candidate">
      <th mat-header-cell *matHeaderCellDef>Candidate</th>
      <td mat-cell *matCellDef="let element"> {{element.candidateName}} {{element.candidateSurname}}</td>
    </ng-container>
    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef>Candidate Position</th>
      <td mat-cell *matCellDef="let element"> {{element.vacancy1}} </td>
    </ng-container>
    <ng-container matColumnDef="StartTime">
      <th mat-header-cell *matHeaderCellDef>StartTime</th>
      <td mat-cell *matCellDef="let element"> {{element.start_Time}} </td>
    </ng-container>
    <ng-container matColumnDef="Endtime">
      <th mat-header-cell *matHeaderCellDef>EndTime</th>
      <td mat-cell *matCellDef="let element"> {{element.end_Time}} </td>
    </ng-container>
    <ng-container  matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="compareDates(element)" mat-icon-button>
          <mat-icon matTooltip="Give Result" mat-fab color="warn" class="edit" aria-label="edit icon"
                    (click)="result(element)">send
          </mat-icon>
        </button>
        <button *ngIf="compareDates(element)" mat-icon-button>
          <mat-icon matTooltip="Move to blacklist" mat-fab color="warn" class="edit" aria-label="edit icon">clear
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row ; columns : displayedColumns"></tr>
  </table>
</div>
<div *ngIf="getRole() == '2'">
  <table mat-table  [dataSource]="calendarDataForMe" >
    <ng-container matColumnDef="TeamLeader">
      <th mat-header-cell *matHeaderCellDef>TeamLead</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}}</td>
    </ng-container>
    <ng-container matColumnDef="Candidate">
      <th mat-header-cell *matHeaderCellDef>Candidate</th>
      <td mat-cell *matCellDef="let element"> {{element.candidateName}} {{element.candidateSurname}}</td>
    </ng-container>
    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef>Candidate Position</th>
      <td mat-cell *matCellDef="let element"> {{element.vacancy1}} </td>
    </ng-container>
    <ng-container matColumnDef="StartTime">
      <th mat-header-cell *matHeaderCellDef>StartTime</th>
      <td mat-cell *matCellDef="let element"> {{element.start_Time}} </td>
    </ng-container>
    <ng-container matColumnDef="Endtime">
      <th mat-header-cell *matHeaderCellDef>EndTime</th>
      <td mat-cell *matCellDef="let element"> {{element.end_Time}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnTL"></tr>
    <tr mat-row *matRowDef="let row ; columns : displayedColumnTL"></tr>
  </table>
</div>
