
<label style="text-align: center">Name : {{data.element.candidateName}}</label><br>
<label>Surname : {{data.element.candidateSurname}}</label><br>
<label>Mobile : {{data.element.candidateMobile}}</label><br>
<label>Email : {{data.element.candidateEmail}}</label><br>
<label>Position : {{data.element.vacancy1}}</label><br>
<label>CV : <a href="{{data.element.candidateCv}}" download>
  <button mat-icon-button>
    <mat-icon matTooltip="Download CV" mat-fab color="primary" aria-label="insert_drive_file icon">insert_drive_file</mat-icon>
  </button>
</a></label>
