.full-width {
  font-size: 14px;
  width: 25%;
  float: right;
  margin-right: 20px;
}
table {
  width: 100%;
}
th{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

section{
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.filter{ margin-left: 23px}

/*expanded rows*/
tr.example-detail-row {
  height: 0;
}

td.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

td.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

